@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.App {
  text-align: center;
}
.intro-section p {
  width: 65%;
  margin: auto;
}
.user-icon {
  font-size: 3.7rem;
  color: #8e5bf5;
  background: #dfe2ff;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.btn-purple {
  border-radius: 0;
  background-color: #dfe2ff;
  margin: 20px 10px;
  padding: 10px 0;
  width: 185px;
  color: #8e5bf5;
}
.btn-purple:hover {
  background-color: #9870e9;
  color: azure;
}
.active-btn {
  background-color: #9058ff;
  color: azure;
}
.user-pic {
  width: 7rem;
  border-radius: 50%;
}
@media only screen and (max-width: 688px) {
  .intro-section p {
    width: 80%;
    text-align: justify;
  }
}
